/* Base --------------------------------------------------------------------- */
* {
    box-sizing: border-box;
}

html, body {
    height: 100%;
    min-height: 450px;
}

body {
    background: #efefef;
    font: 14px 'Inconsolata', Monaco, monospace;
    color: #fff;
}

@media (max-width: 1024px) {
    body {
        background: url('/poster.png') 50% no-repeat;
        background-size: cover;
    }
}

a {
    color: #fff;
    transition: .1s ease-out;
    transition-property: color, background, opacity, border;
}

a:hover, a:active {
    color: #4affff;
}

/* Page styles -------------------------------------------------------------- */
.bgvideo {
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0; top: 0;
    overflow: hidden;
    background: fade(#1a1a1a, 80%);
}

video {
    position: absolute;
    z-index: -1000;
    left: 50%; top: 50%;
    width: auto;
    height: auto;
    min-width: 100%;
    min-height: 100%;
    transform: translate(-50%, -50%);
}

@media (max-width: 1024px) {
    video {
        display: none;
    }
}

#glitch1 {
    background: fade(#1a1a1a, 80%) url('/resources/glitch1.png')
}

#glitch2 {
    background: fade(#1a1a1a, 80%) url('/resources/glitch2.png')
}

#glitch3 {
    background: fade(#1a1a1a, 80%) url('/resources/glitch3.png')
}

#glitch4 {
    background: fade(#1a1a1a, 80%) url('/resources/glitch4.png')
}

.logo {
    background: url('resources/logo.png') no-repeat;
    height: 50px;
    width: 50px;
    position: absolute;
    z-index: 99;
    left: 30px; top: 30px;
    background-position: -50px 0;
}

.logo {
    background-image: url('/resources/logo-h.png');
}

.about {
    position: relative;
    width: 100%;
    max-width: 600px;
    padding: 110px 45px;
    top: 50%; left: 50%;
    transform: translate(-50%, -50%);
}


.about_langthumb a.active {
    cursor: default;
    opacity: .15;
    text-decoration: none;
}

.about_langthumb a.active:hover {
    color: #fff;
}

.about_name {
    font-size: 50px;
    color: #4affff;
    margin: 20px 0;
    text-transform: uppercase;
}

@media (max-width: 1024px) {
    .about_name {
        font-size: 40px;
    }
}

/* Footer ------------------------------------------------------------------- */
.f-left {
    position: absolute;
    left: 30px; bottom: 30px;
    opacity: .15;
}

.f-right {
    position: absolute;
    right: 30px; bottom: 30px;
    opacity: .15;
}

/* Glitch style ------------------------------------------------------------- */
.glitch {
    position: relative;
}

.glitch span {
    position: absolute;
    left: 0; top: 0;
    color: #4affff;
    visibility: hidden;
    opacity: 0;
}

.glitch span::before {
    content: attr(data-text);
}
