// Обтекание -------------------------------------------------------------------
.cf, .clearfix {
    zoom:1;
    &:before, &:after{content: ''; display: table}
    &:after{clear: both}
}

// Трансформация ---------------------------------------------------------------
.transform(@string) {
    -webkit-transform: @string;
            transform: @string;
}

// Анимация --------------------------------------------------------------------
.transition(@transition) {
    -webkit-transition: @transition;
            transition: @transition;
}
.transition-prop(...) {
    -webkit-transition-property: @arguments;
            transition-property: @arguments;

    will-change: @arguments;
}
